<% include ./partials/header %>


<div class="container">
   <div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="background-image:url(images/hero.jpg);">
      &nbsp;
   </div>
</section>
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
   <div class="jumbotron">
      <h2>
         ArcelorMittal Squash Club
      </h2>
      <h3>
         "The greatest part of the game is having the opportunity to play"
      </h3>
      <div class="col-md-8 col-md-offset-2">
         <div class="red-border">
            &nbsp;
         </div>
      </div>
   </div>
</section>

</div>
<hr>
<div class="container">
   <h3>Mittal Squash Club – History</h3>
            
      <p>The Iscor Squash Club was started in 1969 with one court based at the old Iscor Club (now North West University). Within two years another court was built and by 1981 there were four courts on the property. These courts were for many years the only ones in the Vanderbijlapark area</p>
               
      <p>In 1983 the club was in the process of planning the building of two additional courts when they were approached by Squash Promotions to purchase the Squash Centre. The Squash Centre was built in 1981 by Squash Promotions following an agreement between them and the Municipality. The Squash Centre consists of 8 courts of which 6 are glass backed.</p>
      
      <p>Squash Promotions were not able to run the courts on an economically viable basis and offered the courts to the Iscor Squash Club. The courts were purchased from Squash Promotions and the lease agreement was transferred to the Iscor Club.</p>
      
      <p>The club has also gone through a number of name changes starting with Iscor Squash, then Emfuleni Squash and eventually ending up currently as the ArcelorMittal Squash Club. The club has stayed essentially the same over the years and is still run by an elected committee of volunteers.</p>             
</div>
<p><hr></p>

<div class="container">
   <h3>Directions:</h3>
   <div class="mapouter">
      <div class="gmap_canvas">
         <iframe width="550" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=mittal%20squash%20club&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div><style>.mapouter{position:relative;text-align:center;height:410px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:551px;}</style>
   </div>
  <hr> 
   <h3>Squash Court operating times:</h3>
      <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">

            Mon - Thur: 06:00 - 22:00 <br>
            Fri       : 06:00 - 20:00 <br>
            Sat       : 07:00 - 18:00 <br>
            Sun       : 12:00 - 17:00 <br>
      </p>
</div>
<hr>
   <div class="container">
      <div>
         <h3>Contact Us</h3>
         <p></p>
         <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
            Tel No: 016 931 1014 <br>
            e-mail: mittalsquash@telkomsa.net
         </p>
      </div>
   </div>


<% include partials/footer %>