<!DOCTYPE html>
<html>
    <head>
        <title>ArcelorMittal Squash Club</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
     <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="/home" class="navbar-brand"><span class="glyphicon glyphicon-calendar"></span> Home</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="/about">About</a></li>
					<% if(currentUser && currentUser.isAdmin) { %>
					<li><a href="/dashboard">DashBoard</a></li>
					<% } %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<% if(!currentUser){ %>
					<li><a href="/register">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
				<%	} else{ %>
					<li><a href="#">Hello, <%= currentUser.firstName %></a></li>
					<li><a href="/logout">Logout</a></li>
				<%	} %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		
		<% if(error && error.length>0){ %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
		<% if(success && success.length>0){ %>
			<div class="alert alert-success" role="alert">
				<%= success %>
			</div>
		<% } %>
	</div>
	